* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: white;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-bg);
}

button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

#botao-verde {
    background-color: lightgreen;
}

#botao-vermelho {
    background-color: tomato;
}